@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Neucha, -apple-system, BlinkMacSystemFont, PingFangSC-Regular, Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$base-global-margin: .3rem !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px + (2 * $spacing-unit) !default;
// Width of the about page
$about-width:      1600px + (2 * $spacing-unit) !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import pre-styling-overrides hook and style-partials.
@import
  "base",             // Defines element resets.
  "layout",           // Defines structure and style based on CSS selectors.
  "highlight"         // Defines code highlight colors.
;
