<header class="site-header shadow shadow-hover">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <nav class="border split-nav">  <!-- add 'fixed' to 'nav' => fix the nav to the top of page -->
    <div class="nav-brand" style="max-width: 75%;">
      <h4><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h4>
    </div>
    <div class="collapsible">
      {%- if titles_size > 0 -%}
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <!-- mobile responsive hamburger menu start -->
      <button> 
        <label for="collapsible1">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </label>
      </button>
      <!-- mobile responsive hamburger menu end -->
      <div class="collapsible-body">
        <ul class="inline">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
    </div>
  </nav>
</header>
