@charset "utf-8";

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$text-color:            #111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eef !default;

$link-base-color:       #111 !default;
$link-visited-color:    lighten($link-base-color, 20%) !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 36%) !default;
$table-border-color:    $brand-color-light !default;


@import
  "glance/initialize",
  "paper/paper"
;