---
layout: default
---
<article class="article">

  <header>
    {%- if page.title -%}
      <h3>{{ page.title | escape }}</h3>
    {%- endif -%}
    {%- if page.subtitle -%}
      <p>{{ page.subtitle | escape }}</p>
    {%- endif -%}

    <p class="article-meta">
      {%- assign date_format = site.glance.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {% for author in page.author %}
            <span>{{ author }}</span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
  </header>

  <div>
    {%- if page.alert.content -%}
      {%- if page.alert.type == 'primary' -%}
        <div class="alert alert-primary" >{{ page.alert.content }}</div>
      {%- endif -%}
      {%- if page.alert.type == 'secondary' -%}
        <div class="alert alert-secondary" >{{ page.alert.content }}</div>
      {%- endif -%}
      {%- if page.alert.type == 'success' -%}
        <div class="alert alert-success" >{{ page.alert.content }}</div>
      {%- endif -%}
      {%- if page.alert.type == 'warning' -%}
        <div class="alert alert-warning" >{{ page.alert.content }}</div>
      {%- endif -%}
      {%- if page.alert.type == 'danger' -%}
        <div class="alert alert-danger" >{{ page.alert.content }}</div>
      {%- endif -%}
      {%- if page.alert.type == nil -%}
        <div class="alert">{{ page.alert.content }}</div>
      {%- endif -%}
    {%- endif -%}
    {{ content }}
  </div>

  {%- include toper.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
